*{margin: 0; padding: 0; box-sizing: border-box;}
:root{
    --but-bg-color: #b7ebf9;
    --ereasebut-bg-color: #FFF9D0;
    --cal-bg:#dae0e47f;
    --fade: #A1C3CC; 
    --erFade:#ccc7a6;
    --text-base: black;
    --scr-border: black;
    --scr-back-bg: #fdfdfd;
    --bgimg: url("./lightglass.jpg");
}
.darkmode{
    --but-bg-color: #E19898;
    --ereasebut-bg-color: #6e5b9e;
    --cal-bg:#3f1d385a;
    --fade: #B47979; 
    --erFade:#3D305F;
    --text-base: white;
    --scr-border: #CCCCCC;
    --scr-back-bg: rgb(250, 244, 244);
    --bgimg: url("./darkglass.jpg");
} 
html{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: var(--bgimg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.5s;
}
body{
    color: var(--text-base);
}
.cal{
    position: relative;
    width: 320px;
    height: 320px;
    background-color: var(--cal-bg); 
    border-radius: 20px;
    backdrop-filter: blur(8px);
    border-top: 2px solid rgb(255, 255, 255, 0.4);
    border-left: 2px solid rgb(255, 255, 255, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.display, .screen, .er, .button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.screen, .button{
    font-size: 20px;
}
.display{
    width: 255px;
    height: 50px;
    gap: 2px;
    justify-content: start;
}
.screen{
    max-width: 191.74px;
    width: 73.5%;
    height: 100%;
    border: 3px solid var(--scr-border);
    background-color: var(--scr-back-bg);
    justify-content: start;
    padding: 5px;
    overflow: hidden;
    cursor: text;
    color: black;
}
.er{
    width: 23%; height: 100%;
    background-color: var(--ereasebut-bg-color);
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.1s;
}
.er:hover{
    background-color: var(--erFade);
}
.buttons {
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    gap: 2px;
    width: auto;
    margin-top: 2px;
    cursor: pointer;
    transition: 0.25s;
}
.button{
    width: 62px;
    height: 50px;
    background-color: var(--but-bg-color);
}

.button:hover { 
    background-color: var(--fade);
}

@keyframes switchClick{
    25% {transform: scale(0.7);}
    75% {transform: scale(1.1);}
    100% {transform: scale(1);}
}
.switch-click{
    animation: switchClick 0.5s ease-in-out;
}
#theme-switch{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -40px; 
    left: 98px;
    width: 30%;
    border-radius: 30px;
    background-color: var(--but-bg-color);
    border: 2px solid var(--scr-border);
    padding: 4px 0;
    cursor:pointer;
    transition: 0.3s;
}
#theme-switch:hover{
    transform: scale(0.9);
}
#theme-switch svg { 
    fill: var(--text-base);
    position: relative;
    transition: 0.3s;
}
#theme-switch svg:last-child{
    position: inherit;
    right:10px;
    opacity: 0;
} 
#theme-switch svg:first-child{
    position: relative;
    opacity: 1;
    left: 0;
} 

.darkmode #theme-switch svg:last-child {
    opacity: 1;
    right: 35px;
}
    
.darkmode #theme-switch svg:first-child{
    opacity: 0;
    left: -20px;
}
